@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1E2939;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E2939;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

.parentDiv{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.dashboard{
    position: absolute;
    top: 0;
    left: 0;
    bottom: -20px;
    right: -20px; 
    overflow: scroll;
}